@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

:root {
  --light: #ffff2b;
  --dark: #1d1d1d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Geist Mono", monospace;
  background-color: var(--dark);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.widget-title {
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  background-color: var(--light);
  border-radius: 0.125rem;
  z-index: 2;
}
